.episodios h4,
.episodios h5 {
	color: #ffffff;
	font-weight: 600;
	line-height: 21px;
	text-transform: uppercase;
	padding-left: 20px;
	position: relative;
	font-family: "Oswald", sans-serif;
}

.episodios h4:after,
.episodios h5:after {
	position: absolute;
	left: 0;
	top: -6px;
	height: 32px;
	width: 4px;
	background: #e53637;
	content: "";
}

.episodios {
    margin-bottom: 30px;
}


.detalhes_ep {
	margin-bottom: 35px;
}

.detalhes_ep a {
	display: inline-block;
	font-size: 12px;
	color: #ffffff;
	background: rgba(255, 255, 255, 0.2);
	padding: 10px 20px;
	border-radius: 4px;
	margin-right: 15px;
	margin-bottom: 20px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.detalhes_ep a:hover {
	color: #000000;
	background: #ffffff;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.opção{
	color: #ffffff;
    font-weight: 600;
    line-height: 21px;
    text-transform: uppercase;
    padding-left: 20px;
    position: relative;
    font-family: "Oswald", sans-serif;
}




.select1 {
	float: none;
	display: inline-block;
	font-size: 15px;
	color: #3d3d3d;
	font-weight: 700;
	border-radius: 0;
	padding-left: 10px;
	padding-right: 20px;
	height: 30px;
	line-height: 30px;
	
}



